    <link rel="stylesheet" href="../css/jquery.fileupload.css">

    <script src="../js/lib/jquery.fileupload.js"></script>

<div class="container">

<div class="page-header">
    <h1><Strong>Welcome to Patient Kinect</h1></Strong>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-12">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span> Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Enter Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span>
                    </div> 
                </div>
                <div class="form-group">
                    <label for="ActionType">Choose Type of Action</label>
                <select class="form-control" name="ActionType" id="ActionType" required>
                    <option>Text</option>
                    <option>Call</option>
                    <option>Email</option>
                </select> <br>     
                <div class="form-group">
                    <label for="InputEmail">Name of Action</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="ActionName" name="ActionName" placeholder="Action Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Enter Message</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AddPicture">Action Picture</label>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select File</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" multiple>
                </span>
                <br>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
<!-- Registration form - END -->

</div>

